*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack:center;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    background: linear-gradient(to left bottom , rgb(1, 20, 54) 5% ,rgb(247, 210, 46) 90% );
}
.container{
    min-width: 730px;
    min-height: 500px;
    position: relative;
    transition: 2s ease-in-out;
    transform-style: preserve-3d;
}
.side{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    color: #000000;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 70px 0 90px 10px ;
}
.content{
    transform: translateZ(100px) scale(0.8);
    line-height: 1.5em;  
}
.content h1{
     position: relative;
     font-size: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.front{
    z-index: 2;
    background-image: url(bock1.jpg);
    background-size: cover;
    background-size:  115vh;  
}
.back{
    transform: rotateX(180deg);
    z-index: 0;
    padding-top: 10px;
    background-image: url(back.jpg);
    background-size: cover;
}
.container:hover{
   transform: rotateX(180deg);
}
.back h1{
    margin: 2;
    text-align: center;
}
form label, form input{
    display: block; 
}
form input{
    background: transparent;
    border-bottom: 2px solid rgb(214, 214, 211);
    padding: 10px;
    width: 100%;
    color: rgb(2, 6, 49);
    outline: none;
}
form label{
    margin: 20px 0;
}
form input[ type="submit"]{
  display: block;
  width: auto;
  margin: 20px auto;
  padding:3px solide rgb(214, 214, 211) ;  

}
form input[ type="submit"]:hover{
    background: #fff;
    color: #000000;  
    border-radius: 10px 0 10px;
  }
